@import 'src/global/variables';

.first {
    &__slider {
        margin-left: auto;
        padding-left: 0 !important;

        .slick {
            &-slider {
                color: #fff;
                padding-right: 20%;
            }

            &-dots {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: auto;
                margin: auto;

                ul {
                    height: 100%;
                    overflow-y: hidden;
                }

                li {
                    display: block;
                    font-size: 18px;
                    height: auto;
                    width: auto;
                    transition: .5s;
                    margin: 0;

                    &:not(:last-child) {
                        >div>div {
                            padding-bottom: 27.75px;
                        }
                    }

                    &.slick-active {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }

            $arrowWidth: 15px;
            $arrowHeight: 3px;

            &-arows {
                position: absolute;
                display: flex;
                bottom: 0;
                left: 0;
                width: 20%;
            }

            &-arrow {
                background: #fff;
                position: relative;
                width: 50%;
                height: 100%;
                transform: none;
                @include arrowContainer($arrowWidth, $arrowHeight, $colorRedBlock);
                top: auto;
                bottom: 0;
                z-index: 9;
                left: 0;
                right: 0;
            }

            &-next {
                @include arrowDraw($arrowWidth, $arrowHeight, 'right')
            }

            &-prev {
                @include arrowDraw($arrowWidth, $arrowHeight, 'left')
            }
        }
    }
}