@import 'src/global/variables';

.lofti {
    &__slider {
        padding-right: 0;

        &__container {
            position: relative;
        }

        .slick {
            &-slider {
                color: #fff;
                padding-right: calc(20% - #{$grid-gutter-width/5});


                img {
                    max-height: 80vh;
                    width: auto !important;
                }
            }

            &-list {

                max-height: 80vh;
            }

            &-dots {
                position: absolute;
                top: 0;
                bottom: 0;
                right: $grid-gutter-width/2;
                width: auto;
                margin: auto;

                ul {
                    height: 100%;
                    overflow-y: hidden;
                }

                li {
                    display: block;
                    font-size: 24px;
                    height: auto;
                    width: auto;
                    transition: .5s;
                    margin: 0;

                    &:not(:last-child) {
                        >div>div {
                            padding-bottom: 37px;
                        }
                    }

                    &.slick-active {
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
            }

            $arrowWidth: 15px;
            $arrowHeight: 3px;

            &-arows {
                position: absolute;
                display: flex;
                bottom: 0;
                left: 0;
                width: calc(20% + #{$grid-gutter-width/10});
            }

            &-arrow {
                background: #fff;
                position: relative;
                width: 50%;
                height: 100%;
                transform: none;
                @include arrowContainer($arrowWidth, $arrowHeight, $colorRedBlock);
                top: auto;
                bottom: 0;
                z-index: 9;
                left: 0;
                right: 0;
            }

            &-next {
                @include arrowDraw($arrowWidth, $arrowHeight, 'right')
            }

            &-prev {
                @include arrowDraw($arrowWidth, $arrowHeight, 'left')
            }
        }
    }
}