$container-max-widths: (xl: 1920px);
$grid-gutter-width: 190px;
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";

$grid-padding: 80px;

body {
    font-family: 'Montserrat';
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    padding-right: $grid-padding;
    padding-left: $grid-padding;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    transition: top .5s;
    height: 0;
    overflow: hidden;

    &__active,
    &-enter-active {
        height: 100vh;
    }

    &-enter {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.000001);
            transition: 1s;
        }
    }

    &-enter-active {
        &::after {
            content: '';
            background: rgba(0, 0, 0, 0.2);
        }
    }

    &__prev {
        top: -100%;
    }

    &__next {
        top: 100%;
    }
}

.row {
    margin-right: - $grid-padding;
    margin-left: - $grid-padding;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-size: 60px;
    line-height: 72.75px;
    font-weight: bold;
}

.btn {
    &__red {}
}