@import 'global/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

$grid-padding: 3.763vw;

html {
    width: 100%;
    position: fixed;
    overflow: hidden;
}

body {
    font-family: 'Montserrat';
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    background: #F8F8F8;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    transition: top .5s;
    height: 0;
    overflow: hidden;

    &__active,
    &-enter-active {
        height: 100vh;
    }

    &-enter {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.000001);
            transition: 1s;
        }
    }

    &-enter-active {
        &::after {
            content: '';
            background: rgba(0, 0, 0, 0.2);
        }
    }

    &__prev {
        top: -100%;
    }

    &__next {
        top: 100%;
    }
}

.row>div {
    &:not(:first-child) {
        padding-left: $grid-padding;
    }

    &:not(:last-child) {
        padding-right: $grid-padding;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-size: 60px;
    line-height: 72.75px;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none !important;

    &:hover {
        color: inherit;
    }
}

input,
button {
    border: none;
    outline: none !important;
    background: none;
    padding: 0;
    margin: 0;
}

.btn {
    &__red {}
}