@import 'src/global/variables';

.slider {
    &__arrows {
        position: absolute;
        right: 0;
        bottom: -9vh;
        $arrowWidth: 27px;
        $arrowHeight: 4px;

        .slick {
            &-arows {
                display: flex;
            }

            &-arrow {
                position: relative;
                width: 50%;
                height: 100%;
                transform: none;
                @include arrowContainer($arrowWidth, $arrowHeight, $colorRedBlock);
                top: auto;
                bottom: 0;
                z-index: 9;
                left: 0;
                right: 0;
            }

            &-next {
                @include arrowDraw($arrowWidth, $arrowHeight, 'right');

                &::before,
                &::after {
                    left: auto;
                }
            }

            &-prev {
                @include arrowDraw($arrowWidth, $arrowHeight, 'left');

                &::before,
                &::after {
                    right: auto;
                }
            }
        }
    }
}